.jump {
 animation: jump 600ms linear;
}
.game {
  width: 600px;
  height: 200px;
  border-bottom: 1px solid #000;
  margin: auto;
}
#cat {
 width: 50px;
 height: 39px;
 background-image: url(cat.png);
 background-size: 50px, 39px;
 position: relative;
 top: 160px;
}
#flower {
  width: 20px;
  height: 45px;
  background-image: url(flower.png);
  background-size: 20px, 45px;
  position: relative;
  top: 117px;
  left: 580px;
  animation: flowerMov 2s infinite linear;

}
@keyframes jump {
  0% {
    top: 160px;
  }
  10% {
    top: 120px;
  }
  30% {
    top: 100px;
  }
  50% {
    top: 70px;
  }
  70% {
    top: 100px;
  }
  90% {
    top: 120px;
  }
  100% {
    top: 160px;
  }
}
@keyframes flowerMov {
  0% {
    left: 580px;
  }
  100% {
    left: -20px;
  }

}